.sidebar {
    background-color: #004D40;
    padding-top: 20px;
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    min-height: 100vh;
    text-align: center;
}
.sidebar .nav-link {
    color: #ffffff;
    padding: 10px 15px; /* 10px en haut et en bas, 15px à gauche et à droite */

}

#icon_menu{
    color: #fff;
    font-size: 18px;
}
.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #20B2AA;
    color: #ffffff;
    
}

a{
    padding: 10px 55px; /* 10px en haut et en bas, 15px à gauche et à droite */

}


/* Style du header avec déconnexion et notifications */
.header {
    margin-left: 250px;
    padding: 15px 20px;
    background-color: #e8e8e9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
}

/* Style du bouton de déconnexion */
.header .btn-danger {
    background-color: #004D40;
    border-color: #004D40;
}

.header .btn {
    margin-left: 10px;
}

/* Contenu principal avec marge pour la sidebar */
.content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
}

        /* Style du dropdown menu */
        .dropdown-menu {
            background-color: #20B2AA; /* Couleur Light Sea Green */
        }

        .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
            background-color: #20B2AA;
            color: white;
        }